@import "normalizes.scss"
@import "resets.scss"

$color-grey-background: #edecec
$color-grey-element: #bab9b9
$color-orange: #fc7e61
$color-azur: #03a3a3

*
    box-sizing: border-box

@font-face
    font-family: "MontserratT"
    src: url('../fonts/Montserrat-Regular.ttf')
    font-weight: regular

@font-face
    font-family: "MontserratT"
    src: url('../fonts/Montserrat-SemiBold.ttf')
    font-weight: bold

html
    font-family: "MontserratT", serif
    font-weight: regular

.container
    max-width: 1140px
    margin: 0 auto

.main-section
    border: 1px solid green
    position: relative
    min-height: 650px
    background: $color-grey-background
    padding-top: 16px
    overflow: hidden //обрезает все что выходит за границы, используется с position:relative
    &__nav-container
        border: 1px solid #5290EA
        display: flex
        flex-direcion: row
        justify-content: space-between
        height: 69px
        align-items: center
    &__logo
        width: 134px
    &__content-container
        display: flex
        flex-direction: row
        position: relative
    &__img-notes
        width: 461px
        height: 151px
        opacity: 0.3
        position: absolute
        top: 347px
        right: -63px
        transform: rotate(332deg)
    &__first-elipse
        position: absolute
        top: 200px
        right: 42px
        z-index: 1
        opacity: 0.8
    &__second-elipse
        position: absolute
        top: 650px
        right: -125px

.nav-menu
    &__list
        display: flex
        flex-direction: row
    &__list-item
        margin-right: 64px
        font-size: 18px
        &:last-child
            margin-right: 0px
        a
            text-decoration: none
            color: black

.left-wrapper
    position: relative
    &__img
        z-index: 5 // z индекс не работает без position
        position: relative
        top: 59px
        left: 7px
    &__rectangle-blue
        top: 207px
        left: -61px
        position: absolute
        z-index: 2
        width: 566px
        height: 220px
        background: $color-azur
        border-radius: 100px
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) //тень
        transform: rotate(-64deg) //поворот фигуры
    &__rectangle-orange
        position: absolute
        z-index: 3
        top: 222px
        left: 4px
        width: 607px
        height: 220px
        background: $color-orange
        border-radius: 100px
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) //тень
        transform: rotate(298deg)
    &__rectangle-grey
        position: absolute
        z-index: 4
        top: 221px
        left: 105px
        width: 571px
        height: 194px
        background: $color-grey-element
        border-radius: 100px
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) //тень
        transform: rotate(298deg)

.right-wrapper
    border: 1px solid $color-orange
    width: 390px
    position: absolute
    z-index: 2
    top: 146px
    right: 54px
    &__icons-box
        /* padding-left: 10px */
        margin-bottom: 10px
    &__buttons
        display: flex
    &__text
        font-size: 16px
        margin-bottom: 20px
    &__title
        margin-bottom: 15px

.icons
    display: inline-flex
    &__item
        display: flex
        justify-content: center
        align-items: center
        width: 40px
        height: 40px
        border: 1px solid $color-azur
        border-radius: 100px
        margin-right: 17px
        &:last-child
            margin-right: 0px
        i
            font-size: 21px
            color: black

.title
    font-size: 62px
    position: relative
    font-weight: bold
    &__hr
        width: 65px
        position: absolute
        bottom: 0px
        margin: 0px
        border: none
        border-top: 1px solid black
        &_top
            width: 65px
            position: absolute
            top: 59px
            margin: 0px

.button

    &__main-btn
        margin-right: 32px
        width: 200px
        height: 60px
        padding: 11px 24px
        background: $color-orange
        border-radius: 30px
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
        border: none
        font-size: 18px
        font-weight: bold
        color: white
    &__icon-btn
        display: inline-flex
        align-items: center
        img
            margin-right: 12px

.elipse
    width: 194px
    height: 194px
    background: linear-gradient(143.92deg, #ED7B50 14.85%, #488AEA 53.25%, #2C2C2C 85.74%)
    border-radius: 100px
    display: flex
    justify-content: center
    align-items: center
    opacity: 0.5
    &__subtract
        width: 129px
        height: 129px
        /*background: $color-grey
        border-radius: 100px
        &_big
            width: 195px
            height: 195px
    &_dig
        width: 282px
        height: 282px
        border-radius: 200px
        opacity: 0.6

.second-section
    overflow: hidden
    min-height: 700px
    border: 1px solid #ED7B50

    &__container
        padding-top: 70px
        position: relative
    &__title
        margin-bottom: 70px
    &__cards-box
        display: flex
        justify-content: space-between
        margin-bottom: 55px
        border: 1px solid red
    &__icons-box
        display: flex
        justify-content: space-evenly
        margin-bottom: 66px

.cards-item
    position: relative
    width: 270px
    height: 270px
    background: #E2E2E2
    border-radius: 10px
    display: flex
    align-items: flex-end
    font-weight: bold
    &__img
        position: absolute
        top: -62px
        left: 75px
        width: 112px
        height: 346px
        opacity: 0.7
        transform: rotate(35deg)

    &__text
        width: 280px
        font-size: 32px
        text-align: center
        /*transform: rotate(90deg)
        position: absolute
        top: 186px
        right: -62px
    &_grey
        background: $color-grey-background
    &_orange
        background: $color-orange
    &_blue
        background: $color-azur
    &_light-sand
        background: #e5c795

.icons-item
    display: flex
    align-items: center

    /* margin-right: 40px */
    &:last-child
        margin: 0px
    &__text
        font-size: 18px
        span
            font-size: 48px
            font-weight: bold
    &__img
        margin-right: 20px
        width: 80px
        height: 80px
        opacity: 0.6

.third-section
    min-height: 600px
    background: $color-grey-background
    position: relative
    overflow: hidden
    &__container
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        padding-left: 167px
        padding-top: 47px
    &__img-notes
        width: 572px
        height: 200px
        opacity: 0.3
        position: absolute
        top: 159px
        left: 11px
        transform: rotate(332deg)
    &__first-elipse
        position: absolute
        top: 153px
        left: 257px
        z-index: 2
        opacity: 0.5
    &__second-elipse
        position: absolute
        top: -140px
        right: -149px
    &__figure
        position: absolute
        z-index: 1
        top: 226px
        left: 190px
    &__right-wrapper
        max-width: 582px
        &__buttons
            margin-bottom: 46px
    &__right-title
        margin-bottom: 20px
    &__left-title
        z-index: 3
    &__text
        margin-bottom: 30px
        font-size: 18px

.title__hr_top
    bottom: 75px

.footer
    position: relative

    &__img
        position: absolute
        top: 5px
        right: 9px
        bottom: 0px
        width: 600px
    &__container
        padding-top: 25px
        min-height: 272px
        align-items: center
        justify-content: flex-end
    &__title
        margin-bottom: 20px

@media (max-width: 1199px)
    .container
        width: 960px
    .main-section
        &__img-notes
            width: 502px
            height: 151px
            opacity: 0.3
            position: absolute
            top: 328px
            right: -127px
            transform: rotate(332deg)
    .left-wrapper
        position: relative
        &__img
            z-index: 5 // z индекс не работает без position
            position: relative
            top: 99px
            left: -102px
        &__rectangle-blue
            top: 249px
            left: -153px
            width: 566px
            height: 220px

        &__rectangle-orange
            top: 264px
            left: -94px
            width: 607px
            height: 220px

        &__rectangle-grey
            top: 254px
            left: 11px
            width: 571px
            height: 194px

    .right-wrapper
        top: 124px
        right: 13px

        &__title
            font-size: 70px

    .cards-item
        width: 230px
        height: 230px

        &__img
            height: 309px
            top: -68px
            left: 66px
        &__text
            font-size: 26px
            top: 165px
            right: -79px
    .title
        font-size: 55px
    .third-section
        &__img-notes
            top: 159px
            left: 11px
            width: 509px
            height: 145px
        &__right-wrapper
            max-width: 503px
    .footer
        &__img
            width: 500px
            top: 6px
        &__container
            padding-top: 25px
            min-height: 200px

@media (max-width: 991px)
    .container
        width: 920px
    .main-section
        min-height: 580px
        overflow: hidden
        &__img-notes
            width: 302px
            height: 81px
            opacity: 0.3
            position: absolute
            top: 358px
            right: -90px
            transform: rotate(332deg)
    .left-wrapper
        position: relative
        &__img
            z-index: 5 // z индекс не работает без position
            position: relative
            top: 50px
            left: -23px
            width: 569px
        &__rectangle-blue
            top: 188px
            left: -128px
            width: 566px
            height: 220px

        &__rectangle-orange
            top: 217px
            left: -92px
            width: 607px
            height: 170px

        &__rectangle-grey
            top: 217px
            left: -22px
            width: 607px
            height: 170px

    .right-wrapper
        display: flex
        flex-direction: column
        /* align-items: center */
        top: 107px
        right: -3px
        width: 366px
        &__title
            font-size: 70px
            align-self: flex-start
            margin-bottom: 10px
        &__buttons
            flex-direction: column
            align-items: center
    .button
        &__main-btn
            margin-bottom: 20px
    .cards-item
        width: 220px
        height: 220px

        &__img
            height: 300px
            top: -72px
            left: 64px
        &__text
            font-size: 24px
            top: 165px
            right: -82px
    .title
        font-size: 45px
        &__hr
            &_top
                top: 45px
                margin: 0px

    .second-section
        &__icons-box
            display: flex
            justify-content: space-evenly
            margin-bottom: 66px

    .third-section
        &__img-notes
            top: 159px
            left: -3px
            width: 459px
            height: 120px
        &__right-wrapper
            max-width: 503px

    .footer
        &__img
            width: 500px
            top: 6px
        &__container
            padding-top: 25px
            min-height: 200px

.icons-item
    &__img
        margin-right: 15px
        width: 75px
        height: 75px
    &__text
        font-size: 16px
        span
            font-size: 38px

@media (max-width: 767px)
    .container
        width: 620px

@media (max-width: 575px)
    .container
        width: 100%
